body {
    font-family: 'Roboto Flex', sans-serif;
    font-family: 'Tiro Devanagari Sanskrit', serif;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    margin-top: 100px;
    padding: 10px 100px;



}

.top-left {
    margin-left: 100px;

}

.top-left h1 {
    font-size: 3.0em;
    border-left: 7px solid;
    border-radius: 10px;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    margin-left: 5px;
    padding: 5px;

}

.top-right {
    background-image: url('images/shapes/shape-9.png');
    background-repeat: no-repeat;
    background-size: 400px;


}

.button {
    text-decoration: none;
    border: 1px solid rgba(240, 236, 234, 0.441);
    color: rgb(17, 2, 2);
    background-color: gold;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 15px;
}

.one-thired{
    width: 25%;
    background-color: rgb(213, 238, 178);
    margin-left: 7%;
    margin-right: 10px;
    border-radius: 15px;
    padding: 20px;
}
.two-thired{
    width:25%;
    background-color: rgb(226, 212, 180);
    margin-right: 10px;
    border-radius: 15px;
    padding: 20px;
}
.three-thired{
    width:25%;
    background-color: rgb(198, 216, 216);
    margin-right: 10px;
    border-radius: 15px;
    padding: 20px;
}

/* .second-section p{
    margin-left: 30px;
    
} */